*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-bg: linear-gradient(to top,#010329,#000005);
    --color-glass:linear-gradient(to left,#142544,#1a9092);
    --color-water:linear-gradient(to left,#142544,#1b6d6e);
}

body{
    background-color: #1e2b58;
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* Change the direction to column */
    align-items: center;
    justify-content: flex-start; /* Align items to the start of the container */
    overflow: hidden;
	color: #FF9494;
	font-family: courier;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

#rizz {
    width: 50%; /* Adjust the width as needed */
    max-width: 300px; /* Optional: max width to prevent too large images */
    height: auto; /* Maintain aspect ratio */
}

#thankyou {
    margin-top: 20px; /* Space between image and text */
    font-size: 50px;
    color: #FFEA00; /* Change text color to your desired color */
}


